<% layout('layouts/boilerplate.ejs') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1576176539998-0237d1ac6a85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=300&q=20"
                        alt="" style="width: 100%; height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Login
                        </h5>
                        <form action="/login" method="post" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Username should not be Blank
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Password should not be Blank
                                </div>
                            </div>
                            <button class="btn btn-success col-12">Login</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>